.alerts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
  font-family: var(--alternative-font);
}

.alerts__titulo {
  font-size: var(--font-display);
  padding-top: var(--spacing-24);
}

.alerts__subtitulo {
  font-size: var(--font-large);
  padding: var(--spacing-24);
}

.alerts__section {
  font-size: var(--font-medium);
  padding: var(--spacing-24);
}

.alerts__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;
  width: 50%;
  font-size: var(--font-medium);
}

.alerts__buttons {
  grid-column: span 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: var(--spacing-24);
  padding-bottom: var(--spacing-24);
  column-gap: var(--spacing-68);
}

.alerts__button {
  font-family: var(--alternative-font);
  padding: 5px 5px;
  background-color: var(--primary-900);
  color: white;
  border: 1.3px solid black;
  border-radius: 5px;
  cursor: pointer;
}
