.container-edit {
  display: flex;
  align-items: center;
  font-family: var(--alternative-font);
  padding: 6%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre los botones */
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}